/* global variables */
:root {
  --main-page-background-color: #fbfcfd;
  --main-page-background-offset-color: #f8f8f8;
  --main-text-color-dark-gray: rgb(77, 77, 77);
  --main-border-color-light-gray: rgb(189, 189, 189);
  --main-border-color-light-light-gray: rgb(224, 224, 224);
}

/* default style items */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* main page basic styling */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, Arial;
}

/* standard heading */
h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--main-text-color-dark-gray);
}

/* standard heading */
h2 {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-text-color-dark-gray);
}

/* special overall page box layout */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid black;
  border-radius: 3px;
  margin: 20px;
  background-color: var(--main-page-background-offset-color)
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
}

/* central area of focus that includes highlight bordering and the primary text generation and functional area */
.card {
  background-color: var(--main-page-background-color);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid var(--main-border-color-light-light-gray)
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
  border-top: 2px solid var(--main-border-color-light-light-gray);
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.generate_button {  /*a custom-styled function button that is the primary usage of the page for input and data validation and display output */
  border: none;
  background-color: rgb(179, 13, 13);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background-color: var(--main-border-color-light-gray);
}

.float-right {
  float: right;
}

#password {  /* the main processing textarea section */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--main-border-color-light-gray);
  border-radius: 6px;
  resize: none;
  overflow: auto;
}

/* media queries for responsiveness */

@media (max-width: 690px) {
  .generate_button {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .generate_button {
    font-size: 0.8rem;
  }
}
